<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <style>
        *{
            margin: auto;
            text-decoration: none;
        }
    </style>
</head>
<body>
    {% include './topbar.html'%}
    <h1>ADD PAGE</h1>
    <form action="" method="post">
        {{myform }}
        {% csrf_token %}
        <input type="submit" value="submit form">
    </form>
</body>
</html>